<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="utf-8">
<title>form Patients</title>


</head>

<body>
	<div layout:fragment="pageContent">

		<div class="container mt-5">
		<div class="col-md-6">
			<div class="card ">
				<div class="card-header" th:if="${mode=='new'}">Formulaire de saisie d'un nouveau
					Patient</div>
					<div class="card-header" th:if="${mode=='edit'}">Formulaire de mise à jour</div>
				<div class="card-body"></div>
<form th:action="@{savePatient}" method="post">
						<div class="form-group">
							<label class="control-label">ID Patient:</label> <label
								class="control-label" th:text="${patient.id}"></label>
							<inputtype type="text" name="id" class="form-control"
								th:value="${patient.id}">
						</div>
						<div class="form-group">
							<label class="control-label">Saisissez le nom du patient:</label>
							<input type="text" name="nom" class="form-control"
								th:value="${patient.name}"> <span
								th:errors=${patient.name} class="text-danger"></span>
						</div>
						<div class="form-group">
					<label class="control-label">Score</label> <input type="text"
						name="score" class="form-control" th:value="${patient.score}">
					<span th:errors=${patient.score} class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Date de Naissance:</label> <input
						type="date" name="birthDate" class="form-control"
						th:value="${patient.birthDate}"> <span
						th:errors=${patient.birthDate} class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Est t-il malade ?:</label> <input
						type="checkbox" name="malade" th:checked="${patient.malade}">
					<span th:errors=${patient.malade}></span>
				</div>
				<button class="btn btn-success" type="submit">Enregistrer</button>
			</form>

			</div>
			</div>
		</div>
	</div>
</body>
</html>
